@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100vw;
}

.sidebarh{
  @apply text-black text-base font-bold capitalize;
}

.input{
  @apply h-10 mx-1 border-[1px] border-black ps-1 focus:outline-none;
}